{% extends 'base.html' %}


{% block header %}
    <h3>
    {% block title %}
        {% if date %}
            Karte - Unterkünfte vom {{ date }}
        {% else %}
            Karte - alle Unterkünfte 
        {% endif %}
    {% endblock %}
    </h3>
{% endblock %}


{% block content %}
      <link rel="stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
      <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
      
      <div class="row">

          <div class="col-sm">

              <form method="GET">
                 <button class="btn btn-primary" type="submit">alle Unterkünfte anzeigen</button>
              </form>

          </div>
          <div class="col-sm">
              <form method="GET">
                 <button class="btn btn-primary" type="submit">Unterkünfte für einen Tag anzeigen</button>
                {% if date %}
                    <input value="{{ date }}" class="form-control" name="date" required type="date" value="">
                {% else %}
                    <input class="form-control" name="date" required type="date" value="">
                {% endif %}
              </form>
          </div>

      </div>
      </br>
      

      <div id="map" style= "width:100%; height:580px"></div>
      <script>
          var greenIcon = new L.Icon({
                  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                  iconSize: [25, 41],
          });
          
          var redIcon = new L.Icon({
                  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                  iconSize: [25, 41],
          });
          
          var blackIcon = new L.Icon({
                  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png',
                  iconSize: [25, 41],
          });

         // Creating map options
         //center: [17.385044, 78.486671],
         var mapOptions = {
            zoom: 11,
            center: [52.53, 13.37],
         }
         // Creating a map object
         var map = new L.map('map', mapOptions);
         
         // Creating a Layer object
         var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
         
         // Adding layer to the map
         map.addLayer(layer);
         
         /*
         var markerOptions = {
                       title: "MyLocation\nhii<img src=/x/>",
            clickable: true,
            draggable: false,
         }
         */

          {% for shelter in complete_shelters %}
          description = "Gastgeber*in: {{ shelter.name }}</br>" +
                        "Links: <a href=\"{{ url_for('show_shelter', uuid=shelter.uuid)}}\">Unterkunft</a> " + 
                        "<a href=\"{{ url_for('show_shelter', uuid=shelter.uuid, _anchor='reservierungen')}}\">Belegung</a></br>" +
                        "Adresse: {{ shelter.address }}</br>" +
                        "Schlafplätze ohne Isomatte (Bett, Sofa, Matratze): {{ shelter.beds_luxury }}</br>" +
                        "Schlafplätze mit Isomatte: {{ shelter.beds_basic }}</br>" +
                        "Zeitraum: {{ shelter.date_from_june.strftime("%d.%m. (%a)") }} - {{ shelter.date_to_june.strftime("%d.%m. (%a)") }}</br>";
          {% if date %}
            {% set capacity = shelter.get_capacity_by_date(date) %}
            description += "Am {{ date.strftime("%d.%m. (%a)") }} sind noch {{ capacity['beds_free'] }} Betten frei";
              {% if capacity['beds_free'] > 0 %}
                    var marker = L.marker([{{ shelter.longitude }}, {{ shelter.latitude }}], {icon: greenIcon});
              {% else %}
                    var marker = L.marker([{{ shelter.longitude }}, {{ shelter.latitude }}], {icon: redIcon});
              {% endif %}

          {% else %}
            var marker = L.marker([{{ shelter.longitude }}, {{ shelter.latitude }}], {icon: blackIcon});
          {% endif %}
            marker.bindPopup(description).openPopup();
            marker.addTo(map);
          
              
          {% endfor %}

         
      </script>

      </br></br>
      {% for shelter in empty_shelters %}
        Hinweis: Unterkunft <a href="{{ url_for('show_shelter', uuid=shelter.uuid) }}">{{ shelter.uuid }} ({{ shelter.name }})</a> hat noch keine Längen/Breiten-Grade eingetragen.</br>
      {% endfor %}
       
      </br>
      {% for shelter in shelters_without_area %}
        Hinweis: Unterkunft <a href="{{ url_for('show_shelter', uuid=shelter.uuid) }}">{{ shelter.uuid }} ({{ shelter.name }})</a> hat noch keine Himmelsrichtung eingetragen.</br>
      {% endfor %}
      </br></br>


{% endblock %}
