{% extends 'base.html' %}

{% block header %}
  <h3>Übersicht Unterkunft</h3>
{% endblock %}

{% block title %}
{{ shelter.name }}
{% endblock %}

{% block content %}

{% if session['logged_in'] %}
  <a href="{{ url_for('edit_shelter', uuid=shelter.uuid) }}">Unterkunft editieren</a> |
  <a href="{{ url_for('edit_reservation_bulk', uuid=shelter.uuid) }}">Schlafplätze reservieren</a> |
{% endif %}
  <a href="#reservierung-{{ today.strftime('%d%m') }}">Reservierungen anzeigen</a> |
  <a href="#important_numbers">wichtige Telefonnummern</a> |
  <a href="#share">Unterkunft teilen</a>
</br>
</br>

<table class="table">
  <tbody>
    <tr>
      <td>Name der Unterkunft/Gastgeber*in</td>
      <td>{{ shelter.name }}</td>
    </tr>
    <tr>
      <td>Pronomen</td>
      <td>{{ shelter.pronoun }}</td>
    </tr>
    <tr>
      <td>Telefonnummer</td>
      <td>{{ shelter.telephone }}</td>
    </tr>
    <tr>
      <td>Addresse</td>
      {% if shelter.longitude %}
      <td>{{ shelter.address }} <a href="https://www.google.com/maps/search/{{ shelter.longitude }},{{ shelter.latitude }}" >(Google Maps)</a></td>
      {% else %}
      <td>{{ shelter.address }} <a href="https://www.google.com/maps/search/{{ shelter.address }}" >(Google Maps)</a></td>
      {% endif %}
    </tr>
    <tr>
      <td>Himmelsrichtung</td>
      <td>{{ shelter.area }}</td>
    </tr>
    </div>
    <tr>
      <td>Schlafplätze ohne Isomatte (Bett, Sofa, Matratze)</td>
      <td>{{ shelter.beds_luxury }}</td>
    </tr>
    <tr>
      <td>Schlafplätze mit Isomatte</td>
      <td>{{ shelter.beds_basic }}</td>
    </tr>
    <tr>
      <td>Zeitraum</td>
      {% if shelter.date_from_june %}
        <td>{{ shelter.date_from_june.strftime("%d.%m. (%a)") }}
      {% else %}
        <td>nicht angegeben
      {% endif %}
      bis
      {% if shelter.date_to_june %}
        {{ shelter.date_to_june.strftime("%d.%m. (%a)") }}
      {% else %}
        nicht angegeben</td>
      {% endif %}
      {% if shelter.date_from_june and shelter.date_to_june %} 
        - {{ (shelter.date_to_june - shelter.date_from_june).days }} Nächte
      {% endif %}
      </td>
    </tr>

  </tbody>
</table>

Zugang zur Wohnung
<textarea class="form-control" readonly rows=3>
{{ shelter.keys }}
</textarea>
Infos zur Unterkunft
<textarea class="form-control" readonly rows=5>
{{ shelter.rules }}
</textarea>

{% if session['logged_in'] %}
Interner Kommentar (nur für Menschen, die Unterkünfte koordinieren/organisieren)
<textarea class="form-control" readonly rows=3>
{% if shelter.internal_comment %}{{ shelter.internal_comment }}{% endif %}
</textarea>
{% endif %}

&nbsp;

<hr>
<div id="reservierungen"> <h4>Reservierungen - Wer schläft hier?</h4> </div>
<a href="#reservierung-{{ today.strftime('%d%m') }}">heutige Reservierungen anzeigen</a> |
<a href="{{ url_for('edit_reservation_bulk', uuid=shelter.uuid) }}">Schlafplätze reservieren (mehrere Tage/mehrere Menschen)</a></br</br>
<table class="table">
  <thead>
    <tr>
        <th>Datum</th>
        <th>belegte Betten</th>
{% if session['logged_in'] %}
        <th>Actions</th>
{% endif %}
        <th>Wer schläft da nachts?</th>
    </tr>

  </thead>
  <tbody>
{% for date, reservation in reservations.items() %}
    <tr id="reservierung-{{ date.strftime("%d%m") }}">
        <td>{{ date.strftime("%a %d.%m.") }}</td>
    {% if reservation %}
        <td>
            {{ reservation.used_beds }}/{{  shelter.beds_total }}
        </td>
    {% else %}
        <td>
            0/{{  shelter.beds_total }}
        </td>
    {% endif %}
{% if session['logged_in'] %}
    <td>
        <a href="{{ url_for('edit_reservation', uuid=shelter.uuid, day=date.strftime("%d.%m.%Y")) }}" title="Reservierung ändern" data-toggle="tooltip"><i class="material-icons">nights_stay</i></a>

        {% set menschen_ids = [] %}
        {% for reservation in reservation.reservations %}
            {{ menschen_ids.append(reservation.mensch.id)|default("", True) }}
        {% endfor %}

        <a href="{{ url_for('signal_send_message', mensch=menschen_ids ) }}" title="Nachricht an alle" data-toggle="tooltip"><i class="material-icons">email</i></a>
{% endif %}
    </td>
        <td>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseMenschen-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample">Menschen anzeigen/verstecken</a>
              <div class="collapse show" id="collapseMenschen-{{ loop.index }}">
                  <ul class="list-group">
                {% for res in reservation.reservations %}
{% if session['logged_in'] %}
        <li class="list-group-item"><a href="{{ url_for('show_mensch', id=res.mensch.id) }}">{{ res.mensch.name }}</a> ({{ res.mensch.telephone }}, {{ res.mensch.bezugsgruppe }})
            <a href="{{ url_for('delete_reservation', uuid=res.shelter.uuid, mensch_id=res.mensch.id, day=date) }}" class="delete" title="Reservierung löschen" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            </li>
{% else %}
                <li class="list-group-item">{{ res.mensch.name }} ({{ res.mensch.telephone }}, {{ res.mensch.bezugsgruppe }})</li>

{% endif %}
                {% endfor %}
                  </ul>
           </div>
        </td>
    </tr>
{% endfor %}

  </tbody>
</table>



<h4 id="important_numbers" >wichtige Telefonnummern</h4>
<ul class="list-group">
    <li class="list-group-item">EA (Ermittlungsausschuss): {{ settings.phone_ea }} </li>
    <li class="list-group-item">Koordination der Unterkünften: {{ settings.phone_shelter_support }}</li>
    <li class="list-group-item">Koordination vor-Ort Support: {{ settings.phone_vor_ort_support }}</li>
    <li class="list-group-item">Logstik (Material): {{ settings.phone_logistics }}</li>
</ul>

<hr>
<h4 id="share" >Wohnung teilen</h4>
Link zur Wohnung:
<div class="alert alert-primary">
{{ base_url + url_for('show_shelter', uuid=shelter.uuid) }}
</div>

Link zur Wohnung (QR-Code):
<br>
<img src="{{ qrcode(base_url + url_for('show_shelter', uuid=shelter.uuid), box_size=5 ) }}">
<br>
&nbsp;

{% endblock %}


