{% extends 'base.html' %}


{% block header %}
    <h3>
        Signal
    </h3>
{% endblock %}

{% block title %}
Signal
{% endblock %}

{% block more_script %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block content %}

<a href="{{ url_for('signal_send_message') }}">Nachricht verschicken</a> |
<a href="{{ url_for('signal_log') }}">Nachrichten-Verlauf anzeigen</a></br></br>

{% if account %}
hinterlegter Signal Account: {{ account['number'] }} ({{ account['name'] }})</br></br>

{% else %}
    
    {% if device_uri %}

        Bitte den folgenden QR Code in der Signal App scannen (Einstellungen, verlinkte Geräte)</br></br>.
        <img src="{{ qrcode(device_uri, box_size=5) }}">
        </br></br>
        Wenn das Gerät in der Signal-App hinzugefügt wurde, bitte diese Seite <a href="javascript:window.location.href=window.location.href">neu laden</a>.</br></br>
    
    {% else %}

        
         Aktuell ist kein Signal Account hinterlegt. Neuen Signal Account hinterlegen</br></br>


        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.device_name.label }}
                {{ form.device_name(class_="form-control") }}
            </div>
            
            <div class="form-group">
                {{ form.submit.label }}
                {{ form.submit(class_="form-control btn btn-primary") }}
            </div>

        </form>
        
    
    {% endif %}


{% endif %}

{% endblock %}

