{% extends 'base.html' %}


{% block header %}
    <h3>
    {% block title %}
            Gesuch aufgenommen
    {% endblock %}
    </h3>
{% endblock %}


{% block content %}


Wir melden uns bei dir via Signal! Bitte vergiss nicht zu spenden! <3

</br>
<pre>
Kontoinhaber: elinor Treuhand e.V.
Kreditinstitut: GLS Bank
IBAN: DE48 4306 0967 7918 8877 00
BIC: GENODEM1GLS
Verwendungszweck*: ELINORA6ESWM

*Wichtig: Ohne diesen Verwendungszweck kann die Spende nicht zugeordnet werden!

</pre>
{% endblock %}
