{% extends 'base.html' %}

{% block header %}
  <h3>Übersichten</h3>
{% endblock %}

{% block title %}
Betten-Übersicht
{% endblock %}

{% block content %}

<a href="{{ url_for('plot_calendar') }}">Kalendar Plot</a></br>
<a href="{{ url_for('hist_betten') }}">Auslastung Betten</a></br>
<a href="{{ url_for('plot_menschen') }}">Auslastung Menschen</a></br>

</br>

Wann stehen welche Betten zur Verfügung?
<pre>
{% for shelter in shelters %}
{{ shelter }}{% endfor %}
</pre>

Wann sind wie viele Betten belegt?
<pre>
{%- for day,data in beds.items() %}
    {%- if day == today -%}
<strong>{{ day.strftime("%a %d.%m.") }}  {{ data['used_beds'] }}/{{ data['beds_total'] }} Betten belegt, {{ data['menschen_on_site'] }} Menschen brauchen einen Schlafplatz</strong>
    {%- else -%}
{{ day.strftime("%a %d.%m.") }}  {{ data['used_beds'] }}/{{ data['beds_total'] }} Betten belegt, {{ data['menschen_on_site'] }} Menschen benötigen einen Schlafplatz
    {%- endif %}
{% endfor %}
</pre>


{% endblock %}
